@{
  Layout = "_Layout";
}

<h1>Welcome to the To Do List!</h1>
<h3><a href='/artists'>View Artist</a></h3>
<h3><a href='/artists/new'>Add a new Artist</a></h3>

<form action="/artists/showSearch" method="get">
<input id="artistSearch" name="artistSearch" type="text" >
<label for="artistSearch">Search by Artist</label>
<button type="submit"> submit</button>
</form>

