@{
  Layout = "_Layout";
}
  <h1>Add a new record to @Model.Name</h1>
    <form action="/artists/@Model.Id/records" method="post">
      <input id="artistId" name="artistId" type="hidden" value="@Model.Id">
      <label for="recordTitle">Record Title</label>
      <input id="recordTitle" name="recordTitle" type="text">
      <button type="submit">Submit</button>
    </form>
